<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Restassured">
	<listeners>
		<listener class-name="general.TestListener" />
	</listeners>
	<test name="ApITest">
		<parameter name="userName" value="Delphine" />
		<parameter name="maxAllowedResponseTime" value="100000000" />

		<classes>
			<class name="tests.BasicTests" />
		</classes>
	</test>
</suite>